/* src/LandingPage.css */
.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .message-container {
    text-align: center;
  }
  
  .message-container h1 {
    background-color: #5c77dd;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .message-container p {
    margin-bottom: 20px;
  }
  
  .login-portal-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  